body {
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 16px;
}

.maintext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-right: 16px;
}

.eins {
    background-color: #1F2937;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #e5e7eb;
}


.img {
    width: 800px;
    height: 220px;
    background-color: lightgray;
    border-radius: 8px;
}

button {
    background-color: #3882f6;
    padding: 8px;
    width: 120px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin: 0;
    border: 0;
}

.zwei {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    text-align: center;
}

.boxp {
    width:150px;
    height: 150px;
    border: solid #3882f6;
    border-radius: 16px;
}

.boxa {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    margin: 10px;
}

.drei {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #e5e7eb;
    color: gray;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    align-self: flex-end;
    font-weight: bold;
}

.vier {
    padding: 32px;
}

.draußen {
    border-radius:16px;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctabutton {
    width: 200px;
    height: 50px;
    border: solid white;
    flex-shrink: 0;
    flex-grow: 0;
}

.time {
    font-size: 24px;
    font-weight: bold;
}